<div class="brand">COMING SOON</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>What's Courtmetrue</strong>
            </h2>
            <hr>
            <%= image_tag "wallpaper.jpg", width: "300", class: "img-responsive img-border img-left" %>
            <hr class="visible-xs">
            <p>Courtmetrue is a dating website for maidens and gentlemen who want to take time to build an everlasting relationship. Courtmetrue provides  a structured approach for people who don't want to be rushed or pressured into physical intimacy before they are ready to commit to a serious relationship. 
                It's also ideal for men who are seeking a woman who values her dignity and fulfil  personal or cultural expectations. Courtmetrue gets rid of the scammers, sleazy people, and pickup artists who only seek hook-ups.</p>
        </div>
    </div>
</div>
<div class="address-bar prettyfont"><p>CourtMeTrue will launch soon.<p/><p>
   We invite you to sign up for announcements about our progress and launch.<p/></div>


<div class="container">
    <div class="row">
        <div class="box" style="background:#fff; heigh;">
          <div class="col-lg-3 col-md-1 col-sm-1">
          </div
          <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="form-centered">
                  <%= simple_form_for @visitor do |f| %>
                    <%= f.error_notification %>
                    <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
                    <br/>
                    <%= f.button :submit, "Sign up for Announcements", :class => "submit" %>
                  <% end %>
                </div>
          </div>
          <div class="col-lg-3 col-md-10 col-sm-10">
          </div>
        </div>
    </div>






    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>WHAT'S COURTSHIP ALL ABOUT?</strong>
                </h2>
                <hr>

<p>
  Courtship advocates say that courtship allows for the two people to truly get to know each other in a more platonic setting without the pressures of physical intimacy or emotions clouding their view.

  It is a choice to not emotionally give away your heart, piece by piece, to many others through casual dating relationships and instead to give your whole heart to a life partner.

  But of course, this doesn't mean all courtships end in marriage, as courtships are an opportunity to explore the possibility of partnership, not a guarantee of marriage. It just means that people enter into courtships with the goal of a serious, future-focused relationship. Courtship provides a structure and guidelines for dating that leads to lasting partnership.
<p>
We now live in an era where we can say that men and women are equal in rights and duties (though sometimes women are still seen as the weaker sex). Women and men are free to hook up but most of the time a hook-up ends up as a one night stand. The dark truth about hook-ups is that they don’t end loneliness. We often are trying to overcome loneliness when we seek out hook-ups. But after the flirting and ego stroking is over, loneliness remains. Of course, during a hook-up we often feel good. But when all is said and done, you’re still left feeling alone. Women often feel this acutely after a hook-up but men, too, often come to realize that hook-up culture doesn't lead to lasting satisfaction. Courtship is an alternative that provides a path to meaningful and lasting relationship.</p>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            
            <%= image_tag "wedding-photography.jpg", width: "300", class: "img-responsive img-border img-left" %>
            <hr class="visible-xs">
            <p>How can you have a strong relationship if it’s built on a weak foundation from the start? Seeing people easily breaking up is a sign that there isn’t a strong bond between them. In order to have a healthy, long-term relationship, you need to build a strong foundation. The activities of courtship establish a bond for lasting relationship.</p>
<p>
Like other online dating sites, CourtMeTrue provides an opportunity to meet singles who share a common interest. But here, the common interest that brings men and women together is a desire to form lasting relationship. CourtMeTrue goes beyond conventional dating sites by supporting the process of courtship. Women who seek long-term partnerships set their courtship preferences from a menu of courtship activities. Men have an opportunity to show they meet the expectations of their potential partners. In the process, a bond is formed and both partners have an opportunity to get to know each other in real life, beyond the superficial interaction of the chatting and flirting that substitutes on most dating sites for real-life interaction.
</p>
<p>
CourtMeTrue is for anyone who wants more from life than simply casual dating. Courtship activities are fun and it's great to get to know people who want more from life than casual hookups. Ultimately, though, CourtMeTrue is for women and men who want to build a strong foundation from the start. We're building CourtMeTrue for you, so you'll have our guidance in the courtship process as you meet likely partners.
</p>
<p>
CourtMeTrue will launch soon. We invite you to sign up for announcements about our progress and launch.
</p>
        </div>
    </div>
</div>
<!-- /.container -->
